[submodule "linux"]
	path = linux
	url = https://www.github.com/yuvraj1803/linux.git
[submodule "optee"]
	path = optee
	url = https://github.com/OP-TEE/optee_os.git
[submodule "tfa"]
	path = tfa
	url = https://github.com/ARM-software/arm-trusted-firmware.git
[submodule "rmm"]
	path = rmm
	url = https://github.com/TF-RMM/tf-rmm.git
[submodule "edk2"]
	path = edk2
	url = https://github.com/tianocore/edk2.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/buildroot/buildroot.git
[submodule "kvmtool"]
	path = kvmtool
	url = https://github.com/kvmtool/kvmtool.git
